<h1>{{title}}</h1>
<button (click)="cambiarTitulo('nuevo titulo')">Cambiar titulo</button>
<input [(ngModel)]="variableinput">
<p>{{variableinput}}</p>

<input [(ngModel)]="numero1">
<input [(ngModel)]="numero2">
<button (click)="sumar()">sumar</button>
<p>{{resultado}}</p>

<h2>Ejercicio 1</h2>
<input [(ngModel)]="edad1">
<br>
<input [(ngModel)]="edad2">
<br>
<button (click)="sumarEdad()">Calcular</button>
<button (click)="limpiar()">Limpiar</button>
<br>
<input [(ngModel)]="suma">
<input [(ngModel)]="promedio">

<app-bienvenido></app-bienvenido>
<app-error></app-error>
<app-login></app-login>